<a href="https://colab.research.google.com/github/Charanvitha/2303A51408-Batch-07/blob/main/Lab04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Lab-04   2303A51408_B07


1.Student Marks Analysis

In [9]:
import pandas as pd

In [11]:
#Read the CSV file
df = pd.read_csv("student_scores.csv")

print("Original Data:")
print(df, "\n")

Original Data:
   Student_ID     Name  Math  Science  English
0         101    Aarav  85.0     78.0     92.0
1         102     Isha  90.0      NaN     88.0
2         103   Vihaan  72.0     80.0      NaN
3         104   Ananya   NaN     76.0     81.0
4         105   Aditya  88.0     91.0     77.0
5         106    Divya  95.0     89.0     94.0
6         107  Krishna  68.0      NaN     72.0
7         108   Saanvi  78.0     85.0     80.0
8         109    Arjun  82.0     79.0      NaN
9         110    Meera   NaN     84.0     90.0

In [12]:
#Fill missing subject marks with column-wise average
df_filled = df.fillna(df.mean(numeric_only=True))

print("After Filling Missing Values (with column averages):")
print(df_filled, "\n")

After Filling Missing Values (with column averages):
   Student_ID     Name   Math  Science  English
0         101    Aarav  85.00    78.00    92.00
1         102     Isha  90.00    82.75    88.00
2         103   Vihaan  72.00    80.00    84.25
3         104   Ananya  82.25    76.00    81.00
4         105   Aditya  88.00    91.00    77.00
5         106    Divya  95.00    89.00    94.00
6         107  Krishna  68.00    82.75    72.00
7         108   Saanvi  78.00    85.00    80.00
8         109    Arjun  82.00    79.00    84.25
9         110    Meera  82.25    84.00    90.00

In [13]:
#Filter students who scored more than 75 in all subjects
high_achievers = df_filled[(df_filled['Math'] > 75) &
                           (df_filled['Science'] > 75) &
                           (df_filled['English'] > 75)]

print("High Achievers (scored > 75 in all subjects):")
print(high_achievers)

High Achievers (scored > 75 in all subjects):
   Student_ID    Name   Math  Science  English
0         101   Aarav  85.00    78.00    92.00
1         102    Isha  90.00    82.75    88.00
3         104  Ananya  82.25    76.00    81.00
4         105  Aditya  88.00    91.00    77.00
5         106   Divya  95.00    89.00    94.00
7         108  Saanvi  78.00    85.00    80.00
8         109   Arjun  82.00    79.00    84.25
9         110   Meera  82.25    84.00    90.00

2.Hospital Patient Records

In [19]:
import pandas as pd

In [20]:
#Load the dataset
df = pd.read_csv("patients.csv")
print("Original Data:")
print(df, "\n")

Original Data:
  Patient_ID     Name   Age  Gender      Diagnosis Admission_Date
0       P101    Meera  55.0  Female       Diabetes      3/12/2025
1       P102    Aarav   NaN    Male   Hypertension      2/18/2025
2       P103   Ananya   NaN  Female       Diabetes      1/25/2025
3       P104  Krishna  47.0    Male         Asthma       3/5/2025
4       P105   Saanvi  72.0  Female       Diabetes      2/10/2025
5       P106   Aditya  34.0    Male       Fracture      3/19/2025
6       P107     Isha   NaN  Female       Diabetes      1/15/2025
7       P108   Vihaan  50.0    Male  Heart Disease      2/28/2025
8       P109     Diya   NaN  Female   Hypertension       3/2/2025
9       P110    Arjun  66.0    Male       Diabetes      3/14/2025

In [21]:
#Replace missing Age values with median
median_age = df['Age'].median()
df['Age'] = df['Age'].fillna(median_age)
print("After Filling Missing Ages with Median:")
print(df, "\n")

After Filling Missing Ages with Median:
  Patient_ID     Name   Age  Gender      Diagnosis Admission_Date
0       P101    Meera  55.0  Female       Diabetes      3/12/2025
1       P102    Aarav  52.5    Male   Hypertension      2/18/2025
2       P103   Ananya  52.5  Female       Diabetes      1/25/2025
3       P104  Krishna  47.0    Male         Asthma       3/5/2025
4       P105   Saanvi  72.0  Female       Diabetes      2/10/2025
5       P106   Aditya  34.0    Male       Fracture      3/19/2025
6       P107     Isha  52.5  Female       Diabetes      1/15/2025
7       P108   Vihaan  50.0    Male  Heart Disease      2/28/2025
8       P109     Diya  52.5  Female   Hypertension       3/2/2025
9       P110    Arjun  66.0    Male       Diabetes      3/14/2025

In [24]:
#Filter female patients aged above 50 diagnosed with Diabetes
elderly_female_diabetes = df[
    (df['Gender'] == 'Female') &
    (df['Age'] > 50) &
    (df['Diagnosis'].str.lower() == 'diabetes')
]

print("Elderly Female Patients with Diabetes:")
print(elderly_female_diabetes, "\n")

Elderly Female Patients with Diabetes:
  Patient_ID    Name   Age  Gender Diagnosis Admission_Date
0       P101   Meera  55.0  Female  Diabetes      3/12/2025
2       P103  Ananya  52.5  Female  Diabetes      1/25/2025
4       P105  Saanvi  72.0  Female  Diabetes      2/10/2025
6       P107    Isha  52.5  Female  Diabetes      1/15/2025