<a href="https://colab.research.google.com/github/Charanvitha/2303A51408-Batch-07/blob/main/Lab06.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

2303A51408
Batch-07

Lab-06
> Add blockquote

1.Sales dataset - removing duplicates

In [1]:
import pandas as pd

In [2]:
 data = {
 "Transaction_ID": [101, 102, 103, 104, 101, 102],
 "Customer": ["Alice", "Bob", "Charlie", "David", "Alice", "Bob"],
 "Amount": [250, 300, 400, 150, 250, 300],
 "Date": ["2025-09-01", "2025-09-02", "2025-09-03", "2025-09-04",
 "2025-09-01", "2025-09-02"]
 }
 sales_df = pd.DataFrame(data)

In [3]:
print("Dataset BEFORE removing duplicates:")
print(sales_df)
print("\nDuplicate count:", sales_df.duplicated().sum())

Dataset BEFORE removing duplicates:
   Transaction_ID Customer  Amount        Date
0             101    Alice     250  2025-09-01
1             102      Bob     300  2025-09-02
2             103  Charlie     400  2025-09-03
3             104    David     150  2025-09-04
4             101    Alice     250  2025-09-01
5             102      Bob     300  2025-09-02

Duplicate count: 2

In [4]:
sales_df_cleaned = sales_df.drop_duplicates()

In [5]:
 print("\nDataset AFTER removing duplicates:")
 print(sales_df_cleaned)
 print("\nDuplicate count:", sales_df_cleaned.duplicated().sum())

Dataset AFTER removing duplicates:
   Transaction_ID Customer  Amount        Date
0             101    Alice     250  2025-09-01
1             102      Bob     300  2025-09-02
2             103  Charlie     400  2025-09-03
3             104    David     150  2025-09-04

Duplicate count: 0

2.Employee Dataset-converting data types

In [6]:
import pandas as pd

In [7]:
 data = {
 "Employee_ID": [1, 2, 3],
 "Name": ["John", "Sara", "Mike"],
 "Salary": ["50000", "60000", "55000"],  # stored as string
 "Joining_Date": ["2025-01-15", "2025-03-10", "2025-04-05"]  # stored as string
 }
 employee_df = pd.DataFrame(data)

In [8]:
 print("BEFORE Conversion:")
 print(employee_df.dtypes)

BEFORE Conversion:
Employee_ID      int64
Name            object
Salary          object
Joining_Date    object
dtype: object

In [9]:
employee_df["Salary"] = pd.to_numeric(employee_df["Salary"])
employee_df["Joining_Date"] = pd.to_datetime(employee_df["Joining_Date"])

In [10]:
print("\nAFTER Conversion:")
print(employee_df.dtypes)

AFTER Conversion:
Employee_ID              int64
Name                    object
Salary                   int64
Joining_Date    datetime64[ns]
dtype: object

In [11]:
 print("\nCorrected Employee Dataset:")
 print(employee_df)

Corrected Employee Dataset:
   Employee_ID  Name  Salary Joining_Date
0            1  John   50000   2025-01-15
1            2  Sara   60000   2025-03-10
2            3  Mike   55000   2025-04-05