<a href="https://colab.research.google.com/github/Charanvitha/2303A51408-Batch-07/blob/main/Lab_05.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Merge Product and Sales Datasets and Compute Aggregate
Statistics Using pandas bold text

In [1]:
import pandas as pd

In [16]:
products = pd.DataFrame({
    "product_id": [101, 102, 103, 104, 105],
    "product_name": ["Laptop", "Computer", "Headphones", "Keyboard", "Smartphone"],
    "category": ["Electronics", "Electronics", "Accessories", "Accessories", "Electronics"],
    "price": [60000, 25000, 2000, 1500, 12000]
})

In [17]:
sales = pd.DataFrame({
    "sale_id": [1, 2, 3, 4, 5, 6, 7],
    "product_id": [101, 102, 103, 101, 104, 106, 105],  # note: 106 doesnâ€™t exist in products
    "quantity": [2, 5, 10, 1, 4, 3, 2]
})

In [18]:
print(products,"\n")
print(sales)

   product_id product_name     category  price
0         101       Laptop  Electronics  60000
1         102     Computer  Electronics  25000
2         103   Headphones  Accessories   2000
3         104     Keyboard  Accessories   1500
4         105   Smartphone  Electronics  12000

   sale_id  product_id  quantity
0        1         101         2
1        2         102         5
2        3         103        10
3        4         101         1
4        5         104         4
5        6         106         3
6        7         105         2

In [19]:
#Merge them using product_id
inner_merge=pd.merge(products,sales,on='product_id',how='inner')
outer_merge=pd.merge(products,sales,on='product_id',how='outer')

In [20]:
#Perform inner and outer joins
print(inner_merge,"\n")
print(outer_merge)

   product_id product_name     category  price  sale_id  quantity
0         101       Laptop  Electronics  60000        1         2
1         101       Laptop  Electronics  60000        4         1
2         102     Computer  Electronics  25000        2         5
3         103   Headphones  Accessories   2000        3        10
4         104     Keyboard  Accessories   1500        5         4
5         105   Smartphone  Electronics  12000        7         2

   product_id product_name     category    price  sale_id  quantity
0         101       Laptop  Electronics  60000.0        1         2
1         101       Laptop  Electronics  60000.0        4         1
2         102     Computer  Electronics  25000.0        2         5
3         103   Headphones  Accessories   2000.0        3        10
4         104     Keyboard  Accessories   1500.0        5         4
5         105   Smartphone  Electronics  12000.0        7         2
6         106          NaN          NaN      NaN        6         3

In [21]:
#Compute statistics like total revenue, average price, and product-wise sales.
inner_merge['revenue']=inner_merge['price']*inner_merge['quantity']
print(inner_merge)
total_revenue=inner_merge['revenue'].sum()
print('Total Revenue:',total_revenue)
print('Average Price:',inner_merge['price'].mean())
product_wise_sales=inner_merge.groupby('product_name')['quantity'].sum()
print(product_wise_sales)

   product_id product_name     category  price  sale_id  quantity  revenue
0         101       Laptop  Electronics  60000        1         2   120000
1         101       Laptop  Electronics  60000        4         1    60000
2         102     Computer  Electronics  25000        2         5   125000
3         103   Headphones  Accessories   2000        3        10    20000
4         104     Keyboard  Accessories   1500        5         4     6000
5         105   Smartphone  Electronics  12000        7         2    24000
Total Revenue: 355000
Average Price: 26750.0
product_name
Computer       5
Headphones    10
Keyboard       4
Laptop         3
Smartphone     2
Name: quantity, dtype: int64

In [22]:
#Group by product category and find best-selling category.
category_sales=inner_merge.groupby('category')['quantity'].sum()
best_selling_category=category_sales.idxmax()
print('Best Selling Category:',best_selling_category)

Best Selling Category: Accessories

Merge Teachers and Courses Datasets and Compute Aggregate Statistics

In [23]:
teacher=pd.DataFrame({
    'teacher_id':[101,102,103,104,105],
    'teacher_name':['John','Bob','Sara','Ann','Mike'],
    'department':['Math','English','Physics','CompSci','Math']
})
courses = pd.DataFrame({
    "course_id": [101, 102, 103, 104, 105, 106],
    "course_name": ["Algebra", "Physics", "Data Structures", "Calculus", "Chemistry", "AI"],
    "teacher_id": [1, 2, 3, 1, 2, 3],   # course assigned to teacher
    "hours_per_week": [3, 4, 5, 3, 4, 6]  # workload
})

In [24]:
print(teacher,"\n")
print(courses)

   teacher_id teacher_name department
0         101         John       Math
1         102          Bob    English
2         103         Sara    Physics
3         104          Ann    CompSci
4         105         Mike       Math

   course_id      course_name  teacher_id  hours_per_week
0        101          Algebra           1               3
1        102          Physics           2               4
2        103  Data Structures           3               5
3        104         Calculus           1               3
4        105        Chemistry           2               4
5        106               AI           3               6

In [25]:
#Merge on teacher_id
inner_merge=pd.merge(teacher,courses,on='teacher_id',how='inner')
outer_merge=pd.merge(teacher,courses,on='teacher_id',how='outer')

In [26]:
#Perform inner and left joins
print(inner_merge,"\n")
print(outer_merge)

Empty DataFrame
Columns: [teacher_id, teacher_name, department, course_id, course_name, hours_per_week]
Index: []

    teacher_id teacher_name department  course_id      course_name  \
0            1          NaN        NaN      101.0          Algebra
1            1          NaN        NaN      104.0         Calculus
2            2          NaN        NaN      102.0          Physics
3            2          NaN        NaN      105.0        Chemistry
4            3          NaN        NaN      103.0  Data Structures
5            3          NaN        NaN      106.0               AI
6          101         John       Math        NaN              NaN
7          102          Bob    English        NaN              NaN
8          103         Sara    Physics        NaN              NaN
9          104          Ann    CompSci        NaN              NaN
10         105         Mike       Math        NaN              NaN

    hours_per_week
0              3.0
1              3.0
2              4.0
3              4.0
4              5.0
5              6.0
6              NaN
7              NaN
8              NaN
9              NaN
10             NaN

In [27]:
#Compute average courses per teacher
print('Average Courses per Teacher:',inner_merge.groupby('teacher_name')['course_id'].count().mean())

Average Courses per Teacher: nan

In [28]:
#Group by department and calculate total workload
department_workload=inner_merge.groupby('department')['hours_per_week'].sum()
print(department_workload)

Series([], Name: hours_per_week, dtype: int64)